---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '@/layouts/PageLayout.astro';
import BlogList from '@/components/blog/List.astro';
import Headline from '@/components/blog/Headline.astro';
import Pagination from '@/components/blog/Pagination.astro';
import { blogListRobots, fetchTags, getStaticPathsBlogList } from '@/utils/blog';
import Tags from '@/components/blog/Tags.astro';
import WidgetWrapper from '@/components/ui/WidgetWrapper.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
const allTags = await fetchTags();

const metadata = {
  title: 'Notícias',
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto w-full px-6 py-20 sm:px-6 sm:py-16 lg:py-32">
    <Headline class="mb-0!" title="Notícias" />
    <WidgetWrapper containerClass="pt-4!" id="noticias-page">
      <div class="grid grid-cols-1 lg:grid-cols-[1fr_minmax(300px,400px)] gap-4">
        <BlogList class="" news={page.data} />
        <Tags class="" tags={allTags} />
      </div>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </WidgetWrapper>
  </section>
</Layout>
