---
import { Icon } from 'astro-icon/components';
import Image from './common/Image.astro';
import logo from '@/assets/images/site/logo.webp';
import whats from '@/assets/images/site/whats-icon.svg';

import type { HTMLAttributes } from 'astro/types';
import Button from './ui/Button.astro';
import { Phone } from '@lucide/astro';

interface Link extends HTMLAttributes<'a'> {
  text?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], links = [], footNote = '' } = Astro.props;
---

<footer
  id="footer"
  class:list={[
    'relative flex min-h-[500px] w-full flex-col items-center justify-evenly gap-2 lg:gap-6',
    'px-4 py-7 md:px-7',
    'bg-agua-primary-blue',
  ]}
>
  <!-- Links, Sociais e Logo -->
  <div
    class="grid grid-cols-1 lg:grid-cols-[repeat(2,minmax(0,25 %),auto)] items-start place-items-center gap-4"
  >
    <!-- Links e Sociais -->
    <div class="h-full max-w-3xl grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4">
      <!-- Links -->
      <div
        class="order-2 grid items-start justify-center gap-1! lg:gap-4! pl-3 md:order-1! md:grid-cols-2"
      >
        {
          links.map(({ title, links: insideLinks }) => (
            <div class="grid gap-5 last:border-b-0 p-2!">
              <span class="border-agua-secondary-green border-b-2 pb-2 text-sm text-white! uppercase md:text-lg">
                {title}
              </span>

              <ul class="text-body font-poppins flex flex-wrap gap-5">
                {insideLinks.map(({ href, text, ariaLabel, ...rest }) => (
                  <li>
                    <a
                      href={href}
                      class="text-agua-secondary-green!"
                      aria-label={ariaLabel}
                      {...rest}
                    >
                      {text}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }

        <div class="grid h-fit! w-full gap-5 p-2 last:border-b-0">
          <span
            class="border-agua-secondary-green border-b-2 pb-2 text-sm text-white! uppercase md:text-lg"
          >
            Contato
          </span>
          <ul class="text-body font-poppins flex gap-6">
            <li class="social-wrapper flex gap-4">
              {
                socialLinks.map(({ ariaLabel, href, text, icon }) => (
                  <a
                    class="text-muted bg-agua-primary-green inline-flex items-center rounded-full p-2 text-sm"
                    aria-label={ariaLabel}
                    href={href}
                  >
                    {icon && <Icon name={icon} class="size-8 text-white" />}
                    <Fragment set:html={text} />
                  </a>
                ))
              }
            </li>
          </ul>
          <Button
            variant="primary"
            href="https://web.whatsapp.com/send?phone=558892527344&text=Oi,%20vim%20pelo%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
            aria-label="Entre em contato"
            class="mt-0! rounded-2xl flex max-w-[300px] items-center justify-center gap-2 text-lg"
          >
            <Image class="size-6" layout="contained" src={whats} alt="São geraldo" />
            |
            <span>Entre em Contato</span>
          </Button>
          <a
            href="tel://8821017654"
            aria-label="Entre em contato"
            class="flex size-8 h-auto w-fit items-center gap-2"
          >
            <Phone fill="#FFF" class="bg-agua-primary-green size-8 rounded-full p-2" />
            <span class="text-2xl font-bold!">88 2101.7654</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Logo -->
    <Image
      class="lg:order-first! max-w-[200px] lg:max-w-[388px]!"
      layout="responsive"
      src={logo}
      alt="São geraldo"
    />
  </div>

  <!-- Footnote -->
  <div class="mt-2 flex flex-col items-center justify-center gap-4 lg:mt-0 lg:flex-row">
    <div class="text-caption font-poppins text-center leading-[140%] text-white lg:w-full">
      <Fragment set:html={footNote} />
    </div>
  </div>
</footer>
